// Navigation code here

nav {
    .flex(space-around, center);
    .nav-section();
    border-bottom: 1px solid @nav-border;

    a {
        font-size: 1.8rem;
        text-decoration: none;
        color: @nav-font;
    }
}